/* Обнуляємо маржини у заголовків і параграфів */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* Обнуляємо маржини і padding  */
ul, ol {
  margin: 0;
  padding-left: 0;
}

/* Зображення робимо блочними */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF; }

        .container {
         max-width: 1158px;
         padding-left: 15px;
         padding-right: 15px;
         margin-left: auto;
         margin-right: auto; }

/* Хедер */
.header {
    border-bottom: 1px solid #e7e9fc;
    background-color: #ffffff;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}
/* Логотип */
.header .logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    }

.logo-studio {
    color: #2e2f42;
}

/* Навігація */
.nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    transition: color 250ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

/* Контактна інформація */
.contact-info {
    font-style: normal;
}

.contact-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms ease-in-out;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf; 
}

/* Секція Hero */
.hero {
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 188px 0;
    text-align: center; }

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin: 0;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto; }

.hero-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    text-transform: capitalize;
    
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF; }
        
         /*  Section 2 Features */

        .features {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    
        /* прихований заголовок */
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    
        /* Список */
                    
        .features-list {
            display: flex;
            gap: 24px;
            list-style: none;
            margin: 0;
            padding: 0;
            justify-content: center;
        }
    
        .feature-item {
            width: calc((100% - 72px) / 4);
        }
        .feature-icon {
            background-color: #f4f4fd;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8px;
        }
    
        .icon {
            width: 64px;
            height: 64px;
            fill: #4d5ae5;
        }
        /* Заголовок елементу */
        .feature-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 8px;
            /* Виправлено з 12px */
        }
    
        /* Текст */
        .feature-text {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;     }


                /* Секція */
                .team {
                    background-color: #f4f4fd;
                    padding-top: 120px;
                    padding-bottom: 120px;
                }
        
                /* Заголовок секції */
                .section-title {
                    font-size: 36px;
                    line-height: 1.11;
                    text-align: center;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                    color: #2e2f42;
                    margin-bottom: 72px;
                }
        
                /* Список учасників */
                .team-list {
                    display: flex;
                    gap: 24px;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    justify-content: center;
                }
        
                /* Картка учасника */
                .team-item {
                    width: 264px;
                    height: 428px;
                    background-color: #ffffff;
                    border-radius: 0 0 4px 4px;
                    box-shadow:
                        0px 2px 1px rgba(46, 47, 66, 0.08),
                        0px 1px 1px rgba(104, 110, 227, 0.16),
                        0px 1px 6px rgba(46, 47, 66, 0.08);
                }
        
                /* Фото */
                .team-photo {
                    display: block;
                    width: 100%;
                    height: auto;
                }
        
                /* Контейнер для імені та посади */
                .team-info {
                    padding: 32px 0;
                    text-align: center;
                }
        
                /* Ім’я учасника */
                .team-name {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    color: #2e2f42;
                    margin-bottom: 8px;
                }
        
                /* Посада */
                .team-role {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #434455; }                           
   

.team-icons {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-icons .icon {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    padding: 8px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms ease-in-out; }


.team .team-icons .icon:hover,
.team .team-icons .icon:focus {
    background-color: #404bbf;
}

/* Далі, якщо потрібно, можна підлаштувати індивідуальні позиції і розміри для кожної соцмережі */

.team .icon-instagram svg {
    width: 16px;
    /* приклад */
    height: 16px;
}

.team .icon-twitter svg {
    width: 16px;
    height: 13px;
}


/* Секція Portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Список */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Картка */
.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: #ffffff;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Зображення */
.portfolio-img {
    display: block;
    width: 100%;
    height: auto;
}

/* Контейнер для тексту */
.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* Заголовок */
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
    margin-bottom: 8px;
}

/* Тип проєкту */
.portfolio-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0; }


/* Footer Section */
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    }


.footer-logo .studio-text {
    color: #f4f4fd;
    text-transform: none;
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    margin-top: 16px;
    max-width: 264px; }
    